<div class="mysearch">
<table>
 <tr>
     <td><input type="image"  src={{iconsearch}} alt="Submit" (click)="getCodesResult(newTags.value); newTags.value=''" width="30" height="30"></td>
     <td><input type="text" class="mytextsearch" #newTags placeholder="Recherchez une syntaxe en Php ..."></td>
 </tr>
</table>
<table>
 <tr>
   <ul *ngIf="showSearchResult" class="sanspuce">
     <li *ngFor="let code of codes">
       <table>
        <tr>
          <td><input type="image"  src={{iconoeil}} (click)="seeCode(newCodeSelect.value, code.codeId); newCodeSelect.value=''" width="30" height="30"></td>
          <td><textarea rows="3" cols="27" id="code" #newCodeSelect value="{{code.code}}" readonly></textarea></td>
        </tr>
       </table>
     </li>
   </ul>
 </tr>
</table>
<table>
  <tr><input *ngIf="showSearchResult" type="button" class="bouton8" value="Nouvelle recherche" alt="Submit" (click)="reset()" width="30" height="30"></tr>
</table>
</div>
