page-searchphp {
  .mysearch{
      padding-top: 80px;
      padding-right: 110px;
      padding-bottom: 220px;
      padding-left: 60px;
  }

  .sanspuce {
     list-style-type:none;
  }

  .listcode {
      padding-bottom: 20px;
  }

  input.mytextsearch
  {
    height: 50px;
    width: 300px;
  }
  .bouton8 {
  border-radius:12px 0 12px 0;
  background: #f5f5f5;
  border:none;
  color:#555;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  box-shadow:1px 1px 3px #999;
}
}
